.browser-view {
    display: flex;
    flex-direction: row;
}

.browser-navigator {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #d9d9d9;
}

.browser-tab {
    margin: 8px;
    border-right: 3px solid #d9d9d9;
}

.student-wrapper {
    display: flex;
    flex-direction: column;
    background: #d9d9d967;
    border: 1px solid var(--uscgreen);
    font-family: 'Quicksand';
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
   
}
.student-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8px;
}

.student-indicator {
    background: #d9d9d967;
    border: 1px solid #d9d9d9c0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8em;
    margin: 16px;
    padding: 16px;
    color: var(--uscgreen);
    font-family: 'Quicksand', sans-serif;
}


.add-student-modal {
    padding: 24px;
    height: 100%;
    width: 70%;
    transition: all 0.3s;
    font-family: 'Quicksand';
  }

  .add-student-modal h2 {
    font-size: 1.5em;
  }
  
  .student-modal-content {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .student-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }

  .b-red {
    background-color: var(--uscred) !important;
  }

  .b-red:hover {
    background-color: #972c2c !important;
  }
  .button-3 {
    appearance: none;
    background-color: var(--uscgreen);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #2c974b;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.student-detail-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.student-detail-container {
    background: var(--uscgreen);
    border: 1px solid #d9d9d9;
    font-family: 'Quicksand';
    padding: 10px;
    width: fit-content;
    font-weight: 100;
    margin-left: 10px;
}

.student-name {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    margin-left: 10px;
    padding-top: 4px;
}

.violation-view {
    display: flex;
    flex-direction: column;
    background: #d9d9d967;
    border: 1px solid #b1b1b1;
    font-family: 'Quicksand';
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    width: 100%;
}

.violation-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

.violation-detail-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
}
.violation-detail-container {
    background: var(--uscred);
    border: 1px solid #d9d9d9;
    font-family: 'Quicksand';
    padding: 10px;
    width: fit-content;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.active-violation {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    background: #d9d9d9;
    border: 1px solid #adadad;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
}

.add-violation-view {
    display: flex;
    flex-direction: column;
    background: var(--uscred);
    border: 1px solid #b1b1b1;
    font-family: 'Quicksand';
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    width: 100%;
    gap: 0.4em;
}

.add-violation-indicator {
    color: var(--wfg);
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}