.home {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 3em;
}

.home p {
    font-family: 'Quicksand';
    margin-top: 5px;
    font-size: 1.5em;
}

