.top-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid var(--border);
    align-items: center;
    gap: 10px;
}

.nav-title {
    font-family: 'Poppins';
    color: var(--uscgreen);
}

.nav-links {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';

}

.g-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.g-img {
    max-width: 32px;
}

.g-name {
    color: black;
}
.date-and-time {
    font-family: 'Quicksand', sans-serif;
    width: 210px;
}

.db-indicator {
    color: green;
}
.nav-links a {
    text-decoration: none;
    color: var(--fg);
    padding: 10px;
    border-right: 1px solid #d9d9d9;
}

.nav-links a:hover {
    background: var(--uscgreen);
    color: white;
}

.menu-button {
    margin: 8px;
    padding-left: 1em;
    color: var(--uscgreen);
}

.school-logo {
    max-width: 16em;
}

.side-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #d9d9d9;
    text-decoration: none;
}

.profile-icon {
    max-width: 48px;
    border-radius: 50%;
}

.side-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #d9d9d969;
    width: 5em;
    height: 5em;

}

.side-item i {
    color: var(--uscgreen);
}
.side-item p { 
    font-family: 'Quicksand', sans-serif;
    margin: 3px;
}

.side-item:hover {
    background: #d9d9d9f7;
}