.student-view-wrapper {
    display: flex;
    flex-direction: row;
}

.student-navigation {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d9d9d9;
}

.student-search {
    border: 2px solid var(--uscgreen);
    padding: 16px;
    margin: 10px;
    width: 256px;
}

.student-action-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-left: 10px;
}

.student-action-button {
    color: var(--uscblue);
}

.student-action-button:hover {
    text-shadow: 2px 2px 2px black;
    transition: 0s;
}

.students-details {
    display: flex;
    flex-direction: column;
    background: #d9d9d969;
    margin: 10px;
    padding: 16px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 8px;
    border: 2px solid #d9d9d9d1;
}

.student-details-name {
    font-size: 1.2em;
}

.students-details:hover {
    background: #d9d9d9f7;
}

.add-student-modal {
    position: absolute;
}